body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.flex {
  background-color: #544e4e;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex h1 {
  font-size: 30px;
  color: #a0a2a6;
}
