*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 293px);
  grid-template-rows: auto;
  justify-content: center;
  gap: 28px;
}

.logo {
  width: 100%;
  text-align: center;
  padding: 10px;
}
